body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;    
    width: 100%;
    background: rgba(0, 204, 255, 0.7); /* Semi-transparent background for navbar */
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.section {
    padding: 100px 20px;
    font-weight: bold;
    color: rgb(80, 39, 39);
    text-align: center;
    min-height: 100vh; /* Ensures each section takes at least the height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    background-image: url('sdad.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#lion {
    background-image: url('lion.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#the-boat {
    background-image: url('boat2.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#conclusion {
    background-image: url('dd11.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    margin-bottom: 20px;
}

video, audio {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    cursor: pointer;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: rgb(14, 13, 13);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
